*
{
  font-family: sans-serif;
}

html, body
{
  overflow: auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

a { color: Teal; }

div.menu
{
  float: left;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

div.menu ul
{
  list-style-type: none;
  padding-left: 0;
}

table.tickets
{
  width: 50%;
  border-spacing: 0;
}

tr.ticket td
{
  border-bottom: 1px solid LightGray;
}

tr.ticket:first-child td
{
  border-top: 1px solid black;
  border-bottom: none;
}

tr.ticket:hover
{
  cursor: pointer;
  background: Bisque;
}

td.id
{
  text-align: center;
}
