*
{
  font-family: sans-serif;
}

html, body
{
  overflow: auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

body
{
  display: flex;
  flex: 1;
}

a { color: Teal; text-decoration: none }

div.content
{
  flex: 1;
}

div.menu
{
  background-color: #F0F0F0;
  flex: 0 0 6em;
  margin-left: 5px;
  margin-right: 5px;
}

div.menu a:hover { background-color: Bisque; }

div.menu ul
{
  padding-left: 0;
}

div.ticket_history
{
  float: left;
  width: 75%;
}

span.datetime
{
  font-weight: bold;
}

span.text
{
  font-size: 14px;
}

table.tickets
{
  width: 80%;
  border-spacing: 0;
}

tr.ticket td
{
  border-bottom: 1px solid LightGray;
}

tr.ticket:first-child td
{
  border-top: 1px solid LightGray;
  border-bottom: none;
}

tr.ticket:hover
{
  cursor: pointer;
  background: Bisque;
}

td.id
{
  text-align: center;
}

td.field_name
{
  font-weight: bold;
  text-align: right;
}

ul
{
  list-style-type: none;
  padding: 0;
}

ul.ticket_history li
{
  background-color: #e8e8e8;
  border: solid 1px;
  margin-bottom: 3px;
  padding-left: 5px;
  width: 100%;
}
