{% extends "tracker/base.html" %}
{% block content %}
<div>
<table>
  <tr>
    <td class="field_name">Created:</td><td>{{ ticket.dt_created|date:"DATETIME_FORMAT" }}</td>
  </tr>
  <tr>
    <td class="field_name">Project:</td><td>{{ ticket.project.name }}</td>
  </tr>
  <tr>
    <td class="field_name">Author:</td><td>{{ ticket.author.username}}</td>
  </tr>
  <tr>
    <td class="field_name">Assigned user:</td><td>
      {% firstof ticket.assigned_user.username "" %}</td>
  </tr>
  <tr>
    <td class="field_name">Status:</td><td>{{ticket.status.status}}</td>
  </tr>
  <tr>
    <td class="field_name">CC:</td>
    <td>{% for email in ticket_emails %}
      <a href="mailto:{{email}}">{{ email }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </td>
    {% if user.email not in ticket_emails and user.email != ticket.author.email %}
    <td>
      <a href="{% url 'ticket_add_me_to_cc' ticket.id %}">Add me</a>
    </td>
    {% endif %}
  </tr>
  <tr>
    <td class="field_name">Text:</td><td>{{ticket.text}}</td>
  </tr>
</table>
</div>
<div class="ticket_history">
<ul class="ticket_history">
  {% for h in history %}
  <li>
    <p><span class="datetime">{{ h.dt|date:"d.m.Y H:i:s" }}</span>
      {{h.user.username}}
    <p><span class="text">{{ h.text }}</span>
  </li>
  {% endfor %}
</ul>
</div>
<form method="post" id="change_ticket"
      action="{% url 'ticket_add_history' ticket.id %}">
  {% csrf_token %}
  <input type="hidden" name="ticket_id" value="{{ ticket.id }}" />
  <p><textarea name="ticket_text" id="ticket_text" rows="10" cols="60"
               tabindex=""></textarea>
  <p><select name="ticket_status" id="ticket_status">
      {% for s in statuses %}
      {% ifequal ticket.status_id s.id %}
      <option selected value="{{s.id}}">{{s.status}}</option>
      {% else %}
      <option value="{{s.id}}">{{s.status}}</option>
      {% endifequal %}
      {% endfor %}
    </select>
  <p><input type="submit" name="save" value="Save" />
</form>
{% endblock %}
